body{
    height: 100vh;
    width: 100vw;
    font-family: Josh;
    overflow-y: hidden;
}

body::-webkit-scrollbar {
    display: none;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

#link{
    color: white;
    transition: all 0.2s ease;
}

#link:hover{
    color: var(--green);
    font-size: 13.5px;
}

#logo{
    letter-spacing: 8px;
    font-size: 2.4rem;
}

button{
    background-color: transparent;
    border: none;
}

#regist-box{
    width: 50vw;
    padding: 10vh 0.1vw;
    text-wrap: wrap;
    box-shadow: 0px 0 10px rgba(0, 0, 0, 0.2);
}

#regist-box button{
    color: white;
    background-color: var(--green);
    border-radius: 15px;
    padding: 1vh 2vw;
}

#regist-box h5{
    color: red;
    font-weight: lighter;
}

input[type=text]{
    border-radius: 15px;
    background-color: var(--dark-gray);
    font-size: 1.2rem;
    color: #ADADAD;
    padding: 1vh 1vw;
    border: none;
    box-shadow: 0px 0px 2px 0px rgb(0, 0, 0);
    transform: translateX(-5%);
}
input[type=email]{
    border-radius: 15px;
    background-color: var(--dark-gray);
    font-size: 1.2rem;
    color: #ADADAD;
    padding: 1vh 2vw;
    border: none;
}

input[type=password]{
    border-radius: 15px;
    background-color: var(--dark-gray);
    color: #ADADAD;
    font-size: 1.2rem;
    padding: 1vh 2vw;
    border: none;
}

#submit{
    font-size: 1rem;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
    transition: all 0.3s ease;
}

#submit:hover{
    font-size: 1.2rem;
    background-color: #689169;
    color: rgb(175, 175, 175);
}

#sidebar{
    border-radius: 0 15px 15px 0;
    padding: 0 3vw;
    height: 100%;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.7);
}


#sidebar-content{
    display: flex;
}

#sidebar-content h6{
    font-size: 20px;
    margin-top: 20px;
    color: white;
}

.sidebar img{
    width: 20px;
}

.sidebar{
    border-radius: 0 10px 10px 0;
    padding: 0 3vw;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 200px;
    z-index: 999;
    background-color: var(--dark-gray);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.4);
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 40px;
    display: none;
    list-style: none;
}

#settings, #settingsSide{
    display: none;
    padding: 20px;
    border-radius: 20px;
    border-style:solid;
    border-width:8px;
    border-color:#333333;
}

#settings-content, #settingsSide-content{
    height: 50%;
    overflow-y: scroll;
    padding: 0px 0px 20px 20px;
    margin-top: 10px;
}

#settings-content a, #settingsSide-content a{
    text-decoration: none;
}

#settings-symbol img, #settingsSide-symbol img{
    margin-top: 20px;
    transition: all ease-in-out 300ms;
}

#settings-symbol img:hover, #settingsSide-symbol img:hover{
    transform: rotate(90deg);
}

#settingsSide-symbol {
    margin-bottom: auto;
}

#burger{
    display: none;
}

#feature img,#feature-side img{
    width: 40px;
    height: 40px;
}

#map{
    transform: translateY(10%);
}

.map-1{
    width: 60%;
    z-index: 999;
    transform: translateY(50%);
}.map-2{
    width: 60%;
    z-index: 998;
}.map-3{
    width: 60%;
    transform: translateY(-50%);
    z-index: 997;
}.map-4{
    width: 60%;
    transform: translateY(-100%);
    z-index: 996;
}

#view-all img{
    transition: all ease-in-out 200ms;
}

#view-all img:hover{
    width: 70%;
}

#view-map-1{
    display: none;
}#view-map-2{
    display: none;
}#view-map-3{
    display: none;
}#view-map-4{
    display: none;
}

#view-map-2 .map-container img{
    transform: translateY(37%);
}#view-map-3 .map-container img{
    transform: translateY(37%);
}#view-map-4 .map-container img{
    transform: translateY(50%);
}

#navLayer img{
    padding: 0.5vh;
    width: 20px;
    height: 20px;
    transition: all ease-in-out 200ms;
}

#layer{
    width: 30px;
    height: 30px;
}

#navLayer img:hover{
    width: 25px;
    height: 25px;
}

#navLayer{
    margin: 0 1vw 0 auto;
}

.map-container {
    position: relative;
}

.marker{
    position: absolute;
    contain: content;
    width: 2%; /* Adjust as necessary */
     height: 12%; /* Adjust as necessary */
    background: url('../img/location-marker.png') no-repeat center center;
    background-size: cover;
    z-index: 999;
    transition: all ease-in-out 200ms;
}

.marker:hover{
    width: 2.3%;
    height: 14.5%;
}

.marker1 { top: 90%; left: 46%;}
.marker2 { top: 76%; left: 54.5%;}
.marker3 { top: 50%; left: 55%;}
.marker4 { top: 75%; left: 30%;}
.marker5 { top: 100%; left: 45%;}
.marker6 { top: 74%; left: 62%;}
.marker7 { top: 50%; left: 64%;}
.marker8 { top: 100%; left: 32%;}
.marker9 { top: 122%; left: 36.5%;}
.marker10 { top: 122%; left: 36.5%;}
.marker11 { top: 105%; left: 65%;}
.marker12 { top: 60%; left: 43%;}

#view-tenant{
    position: absolute;
    background-color: var(--dark-gray);
    border-radius: 15px;
    bottom: 0;
    width: 70%;
    transform: translateY(-10vh);
}

#view-tenant img{
    padding: 4vh 2vw;
    width: 10vw;
    object-fit: contain;
}

#view-tenant h3{
    padding: 4vh 2vw;
}

#tenant-content img{
    margin-left: auto;
    width: 30px;
}

@media screen and (max-width: 768px) {
    #sidebar h1, #search, #feature{
        display: none;
    }

    #content{
        flex-flow: column;
        position: sticky;
        gap: 10px;
    }

    input[type=text]{
        font-size: 1rem;
    }

    #sidebar {
        border-radius: 0px;
        height: fit-content;
        padding: 2vh;
    }

    #burger{
        margin-left:20px;
        display: flex;
        align-items: center; 
    }

    #burger img{
        width: 20px;
        transition: all 0.3s ease;
    }

    #burger img:hover{
        width: 23px;
    }

    #regist-box{
        min-width: 45vh;
        padding: 10vh 0.1vw ;
        text-wrap: wrap;
    }

    #view-tenant{
        transform: translateY(60vh);
        margin-bottom: 10px;
    }

    #view-tenant img{
        width: 100px;
        padding: 1vh 1vw;
    }

    #tenant-content img{
        width: 30px;
    }

    #view-tenant h3{
        font-size: 0.8rem;
    }
}
